.btnWrapper {
    text-align: center;
}

.btnMain {
    margin-top: 5vh;
    width: 100%;
    max-width: 500px;
    height: 30vh;

    font-family: "CookieRun-Regular";
    color: white;
    /* font-size: 3em; */
}

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontYeoljeongdo {
    font-family: "RixYeoljeongdo_Regular";
}

.fontCookierun {
    font-family: "CookieRun-Regular";
    font-size: 1.1em;
}